* {
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
  color: #FFFFFF;
}

body {
  background: #1C1C1E;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto&display=swap');

a {
  color: unset !important;
}

:root {
  --yello: #FFDB72;
}

.page_container {
  margin: 0 auto !important;
  width: 85% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}